* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 10vh;
    padding: 0 5%;
}

.nav-links {
    list-style: none;
    font-size: 1.5rem;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.nav-links a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 10px;
}

#hamburger-menu {
    display: none;
}

#hamburger-menu i {
    color: black;
    font-size: 2rem;
    cursor: pointer;
}

section {
    padding: 5vh 5%;
}

/* Section Profile */
#profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}

.section-pic-container {
    height: 300px;
    display: flex;
    justify-content: center;
}

.section-pic-container img {
    border-radius: 50%;
    height: 100%;
}

.section-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 0.5rem;
}

.section-text p {
    font-weight: 600;
}

.section-text-1 {
    font-size: 1.5rem;
    color: grey;
}

.title {
    font-size: 3rem;
    margin: 10px 0;
}

.section-text-2 {
    font-size: 1.8rem;
    color: rgb(39, 39, 39);
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 16px;
}

.icon {
    cursor: pointer;
    height: 3rem;
}

.btn {
    padding: 1rem 2rem;
    background-color: black;
    border-radius: 2rem;
    color: white;
    border: 2px solid black;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover {
    background-color: white;
    color: black;
}

#about, #experience, #projects, #contact {
    text-align: center;
    margin: 5vh 0;
}

.about-container, .experience-detail-container, .contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 2rem 0;
}

.detail-container {
    flex: 1;
    padding: 2rem;
    border: 2px solid black;
    border-radius: 2rem;
    gap: 5px;
    font-size: 1.5rem;
}

.text-container p {
    font-size: 1.5rem;
}

/* Experience section */
.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: space-around;
    margin: 1rem 0;
}

.article {
    display: flex;
    gap: 0.5rem;
}

.project-img {
    width: 100%;
    border-radius: 5px;
}

.project-title {
    margin: 1rem;
    color: black;
}

.project-btn {
    padding: 1rem 2rem;
    background-color: black;
    color: white;
    border-radius: 2rem;
    font-weight: 600;
    font-size: 1rem;
    border: 2px solid black;
    cursor: pointer;
    box-shadow: 4px 4px 3px rgb(197, 195, 195);
}

.project-btn:hover {
    background-color: white;
    color: black;
}

.project-btn:active {
    box-shadow: none;
    margin-top: 3px;
    margin-left: 3px;
}

.contact-info-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.contact-info-container p {
    font-size: larger;
}

.contact-icon {
    height: 1.75rem;
}

footer {
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 10rem;
    color: grey;
}

footer p {
    font-size: 1.2rem;
    padding: 2rem;

}

.footer-nav-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 1.5rem;
    gap: 2rem;

}
.footer-nav-links a {
    text-decoration: none;
    color: black;
}

.footer-nav-links a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 10px;
}

/* Responsive Styles */
@media (max-width: 900px) {
    .nav-links {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        flex-direction: column;
        background-color: white;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.3s ease-in-out;
    }

    .nav-links.active {
        visibility: visible;
        opacity: 1;
    }

    .nav-links li {
        padding: 20px 0;
    }

    #hamburger-menu {
        display: block;
    }

    #profile {
        flex-direction: column;
        text-align: center;
    }

    .section-pic-container, .section-text {
        width: 100%;
    }

    .about-container, .experience-detail-container, .contact-container {
        flex-direction: column;
    }

    .contact-info-container {
        text-align: center;
        justify-content: center;
    }

    .footer-nav-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}
